{{ 'minicart.css' | asset_url | stylesheet_tag }}

<script src="{{ 'minicart.js' | asset_url }}" defer="defer"></script>

<div class="minicart shadow">
    <div class="minicart__content">
        <div class="minicart__header">
            <div class="minicart__header-title">Your cart ({{ cart.item_count }})</div>
        </div>
        {% for item in cart.items %}
            <div>{{ item.product.title }}</div>
        {% endfor %}
    </div>
</div>

