{{ 'image-gallery.css' | asset_url | stylesheet_tag }}

<section class="image-gallery">
    <div class="image-gallery__container">
        image-galleryf
    </div>
</section>

{% schema %}
{
  "name": "Image gallery",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Image gallery"
    }
  ]
}
{% endschema %}