{{ 'predictive-search-1.css' | asset_url | stylesheet_tag }}

<script src="{{ 'predictive-search-1.js' | asset_url }}" defer="defer"></script>

<div class="predictive-search1 shadow">
    <div class="predictive-search1__content">
        <div class="predictive-search1__header">
            <div class="predictive-search1__header-title">Search</div>
            <button class="predictive-search1__btn-close">
                <img src="{{ 'X.svg' | asset_url }}" alt="Predictive search close" class="predictive-search__btn-icon">
            </button>
        </div>
        predictive-search
    </div>
</div>