* {
    box-sizing: border-box;
    letter-spacing: normal;
    font-family: Inter;
}
.customer-reviews__container {
    max-width: 1680px;
    margin: 32px auto;
    padding: 0 16px;
}
.customer-reviews .customer-reviews__content {
    padding-bottom: 56px;
}
.customer-reviews .customer-reviews__item {
    height: auto;
    margin: 0 auto;
    border: 1px solid #E9E9E9;
    border-radius: 16px;
}
.customer-reviews .customer-reviews__item.item--base {
    padding: 32px 16px;
    background-color: #F6F6F6;
}
.customer-reviews .customer-reviews__item.item--big_image {
    border: none;
}
.customer-reviews .customer-reviews__item-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0 16px;
    padding: 24px;
    border-radius: 16px;
}
.customer-reviews .customer-reviews__item-wrap.item-wrap--small_product {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
}
.customer-reviews .customer-reviews__item-wrap.item-wrap--big_image {
    height: 100%;
    padding: 0;
    margin: 16px;
    grid-gap: 0;
    overflow: hidden;
    border: none;
}
.customer-reviews .customer-reviews__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
}
.customer-reviews .customer-reviews__product.product--small_product {
    border-top: 1px solid #E9E9E9;
    padding: 12px 0;
}
.customer-reviews .customer-reviews__product-box-img {
    display: block;
    position: relative;
    padding-bottom: 100%;
    border-radius: 16px;
    overflow: hidden;
}
.customer-reviews .customer-reviews__product-box-img.product-box-img--small_product {
    display: flex;
    border-radius: 0;
    padding-bottom: 0;
}
.customer-reviews .customer-reviews__product-box-img.product-box-img--big_image {
    height: 100%;
    border-radius: 0;
    padding-bottom: 62%;
}
.customer-reviews .customer-reviews__product-img-link {
    display: block;
}
.customer-reviews .customer-reviews__product-img-link:hover .customer-reviews__product-img {
    transform: scale(1.1);
}
.customer-reviews .customer-reviews__product-img-link.product-img-link--small_product {
    display: block;
    position: relative;
    max-width: 80px;
    width: 100%;
    margin-right: 24px;
    border-radius: 8px;
    overflow: hidden;
}
.customer-reviews .customer-reviews__product-img-link.product-img-link--small_product picture {
    display: block;
    padding-bottom: 100%;
}
.customer-reviews .customer-reviews__product-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.customer-reviews .customer-reviews__product-description {
    width: calc(100% - 32px);
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;
}
.customer-reviews .customer-reviews__product-description.product-description--small_product {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    transform: translate(0);
}
.customer-reviews .customer-reviews__product-description.product-description--small_product .customer-reviews__price {
    color: #000;
}
.customer-reviews .customer-reviews__product-name {
    display: inline-block;
    margin-bottom: 10px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.571%;
    text-decoration: none;
}
.customer-reviews .customer-reviews__product-name:hover {
    text-decoration: underline;
}
.customer-reviews .customer-reviews__product-prices {
    display: flex;
    align-items: center;
}
.customer-reviews .customer-reviews__price,
.customer-reviews .customer-reviews__price-old {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 128.571%;
}
.customer-reviews .customer-reviews__price {
    color: #E41616;
}
.customer-reviews .customer-reviews__price-old {
    margin-left: 8px;
    color: #9D9D9D;
    text-decoration-line: line-through;
}
.customer-reviews .customer-reviews__box-info {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
}
.customer-reviews .customer-reviews__box-info.reviews-box-info--base {
    padding: 0 0 32px 0;
}
.customer-reviews .customer-reviews__box-info.reviews-box-info--base .customer-reviews__rating,
.customer-reviews .customer-reviews__box-info.reviews-box-info--big_image .customer-reviews__rating{
    margin-bottom: 25px;
}
.customer-reviews .customer-reviews__box-info.reviews-box-info--big_image,
.customer-reviews .customer-reviews__box-info.reviews-box-info--base {
    align-items: center;
    text-align: center;
}
.customer-reviews .customer-reviews__box-info.reviews-box-info--small_product {
    padding: 18px 0;
    order: -1;
}
.customer-reviews .customer-reviews__box-info.reviews-box-info--big_image {
    justify-content: center;
    background: #F6F6F6;
    padding: 32px 64px;
}
.customer-reviews .customer-reviews__rating {
    margin-bottom: 16px;
}
.customer-reviews .customer-reviews__icon-rating {
    display: block;
}
.customer-reviews .customer-reviews__text {
    color: #363636;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.customer-reviews .customer-reviews__text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}
.customer-reviews .customer-reviews__text p:not(:last-child) {
    margin: 0 0 16px 0;
}
.customer-reviews .customer-reviews__author.author--big_image {
    margin-bottom: 22px;
}
.customer-reviews .customer-reviews__author.author--big_image .customer-reviews__author-box-img {
    margin: 0 auto 8px auto;
}
.customer-reviews .customer-reviews__author.author--big_product {
    display: flex;
    align-items: center;
    margin-top: 16px;
    order: 1;
}
.customer-reviews .customer-reviews__author.author--base {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 25px 0;
}
.customer-reviews .customer-reviews__author.author--base .customer-reviews__author-box-img {
    margin: 0 0 8px 0;
}
.customer-reviews .customer-reviews__author {
    margin-bottom: 16px;
}
.customer-reviews .customer-reviews__author.author--small_product {
    display: flex;
    align-items: center;
}
.customer-reviews .customer-reviews__author-box-img {
    min-width: 48px;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    position: relative;
    border: 1px solid #000;
    border-radius: 50%;
    overflow: hidden;
}
.customer-reviews .customer-reviews__author-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.customer-reviews .customer-reviews__author-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 8px;
}
.customer-reviews .customer-reviews__author-role {
    color: #535353;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.571%;
}
.customer-reviews .customer-reviews__swiper-pagination.swiper-pagination .swiper-pagination-bullet {
    margin: 0 8px;
    transition: all 0.3s;
}
.customer-reviews .customer-reviews__swiper-pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 8px;
    background-color: #000;
}

@media screen and (max-width: 991.98px) {
    .customer-reviews .customer-reviews__item.item--base {
        padding: 24px;
    }
    .customer-reviews .customer-reviews__item-wrap {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .customer-reviews .customer-reviews__product-box-img.product-box--img-big_image {
        padding-bottom: 64%;
    }
    .customer-reviews .customer-reviews__box-info.reviews-box-info--big_image {
        padding: 16px;
    }
    .customer-reviews .customer-reviews__box-info {
        padding: 24px 0 0 0;
    }
}