.featured-blog__container.swiper {
    max-width: 1712px;
    display: flex;
    padding: 32px 16px;
    margin: 0 auto;
}
.featured-blog .featured-blog__item.swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: initial;
}
.featured-blog .featured-blog__box-img {
    position: relative;
    padding-bottom: 50%;
    margin-bottom: -30px;
    overflow: hidden;
    border-radius: 16px;
}
.featured-blog .featured-blog__box-img .featured-blog__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.featured-blog .featured-blog__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 48px);
    margin: 0 auto;
    padding: 16px;
    background: #F6F6F6;
    border-radius: 16px;
    position: relative;
    z-index: 1;
}
.featured-blog .featured-blog__header {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 128.571%;
    color: #000;
    margin-bottom: 16px;
}
.featured-blog :is(.featured-blog__date, .featured-blog__comments) .featured-blog__icon {
    display: inline-block;
    margin-right: 8px;
}
.featured-blog :is(.featured-blog__tags, .featured-blog__date, .featured-blog__comments)  {
    display: flex;
    align-items: center;
}
.featured-blog .featured-blog__tags span {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 68px;
    background: #FFD875;
}
.featured-blog .featured-blog__tags span:not(:last-child) {
    margin-right: 8px;
}
.featured-blog .featured-blog__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.182%;
    margin: 0 0 16px 0;
}
.featured-blog .featured-blog__description {
    overflow: hidden;
    color: #535353;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 16px;
}
.featured-blog .featured-blog__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px 24px;
    margin-top: auto;
}
.featured-blog .featured-blog-footer__links .featured-blog-footer__link {
    display: inline-block;
    text-decoration: none;
    padding: 4px 0;
    border-bottom: 1px solid #000;
    color: #000;
    transition: border 0.2s;
}
.featured-blog .featured-blog-footer__links .featured-blog-footer__link:hover {
    border-color: transparent;
}
.featured-blog-footer__author {
    display: flex;
    align-items: center;
}
.featured-blog-author .featured-blog-author__box-photo {
    display: flex;
    align-items: center;
}
.featured-blog-author .featured-blog-author__box-photo .featured-blog-author__photo {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: contain;
}
.featured-blog .featured-blog__swiper-pagination.swiper-pagination {
    bottom: 0;
}
.featured-blog__swiper-pagination.swiper-pagination span.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 6px;
    transition: all 0.3s;
}
.featured-blog__swiper-pagination.swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    background-color: #000;
    border-radius: 16px;
    transform: scale(1.3);
}

@media screen and (max-width: 1023.98px) {
    .featured-blog__container .featured-blog__item.swiper-slide {
        flex-shrink: 0;
    }
    .featured-blog__container.swiper {
        padding-bottom: 50px;
    }
    .featured-blog .featured-blog__box-img {
        padding-bottom: 75%;
    }
}
@media screen and (max-width: 499.98px) {
    .featured-blog .featured-blog-footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .featured-blog .featured-blog-footer__links {
        order: 1;
    }
}

@media screen and (min-width: 1023.98px) {
    .featured-blog .featured-blog__wrapper {
        flex-wrap: wrap;
        gap: 16px;
    }
    .featured-blog .featured-blog__item {
        width: calc(33.333% - 11px);
    }
    .featured-blog .featured-blog__content {
        width: calc(100% - 64px);
    }
    .featured-blog__swiper-pagination.swiper-pagination span.swiper-pagination-bullet {
        display: none;
    }
}

@media (hover: hover) {
    .featured-blog .featured-blog__box-img:hover img {
        transform: scale(1.03);
    }
}