* {
    box-sizing: border-box;
    letter-spacing: normal;
}
.minicart-btn {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    margin: 0 10px;
    cursor: pointer;
}
.minicart-btn:hover {
    transform: scale(1.1);
}
.minicart-btn .minicart-btn-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.minicart-btn-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 8px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    z-index: 1;
}
.minicart.shadow {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    padding: 16px;
    visibility: hidden;
    overflow: auto;
    z-index: 10;
    transition: all 0.3s;
}
.minicart.shadow.active-minicart {
    opacity: 1;
    visibility: visible;
}
.minicart .minicart__content {
    max-width: 480px;
    width: 100%;
    display: inline-block;
    margin: 0 0 auto auto;
    background-color: #fff;
    transform: translateX(calc(100% + 16px));
    border-radius: 16px;
    overflow: auto;
    transition: all 0.3s;
}
.minicart .minicart__content.active-minicart {
    transform: translateX(0);
}
.minicart .minicart__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}
.minicart .minicart__header-close {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: transparent;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}
.minicart .minicart__header-title {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.182%;
}
.minicart .minicart__products {
    padding: 16px 24px;
}
.minicart .minicart__item-empty {
    font-size: 18px;
    line-height: 150%;
    font-weight: 600;
}
.minicart .minicart__item {
    display: flex;
    position: relative;
}
.minicart .minicart__item:not(:last-child) {
    margin-bottom: 24px;
}
.minicart .minicart__item-preloader {
    position: absolute;
    top: 50%;
    left: 50px;
    display: none;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/*Theme styles interrupt, that's why I used it '!important'.*/
.minicart .minicart__item-preloader.hidden {
    display: block !important;
}
.minicart .minicart__item-remove {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.minicart .minicart__item-image-box {
    position: relative;
    width: 100px;
    margin-right: 24px;
    overflow: hidden;
    border-radius: 16px;
}
.minicart .minicart__item-image-wrap {
    padding-bottom: 100%;
}
.minicart .minicart__item-image-wrap:hover .minicart__item-image {
    transform: scale(1.1);
}
.minicart .minicart__item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.minicart .minicart__item-description {
    flex: 1 0 auto;
}
.minicart .minicart__item-title {
    color: #535353;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}
.minicart .minicart__item-title:hover {
    text-decoration: underline;
}
.minicart .minicart__item-subtitle {
    color: #9D9D9D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.571%;
}
.minicart .minicart__item-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.minicart .minicart__item-count-box {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 68px;
    background-color: #F6F6F6;
}
.minicart .minicart__item-minus,
.minicart .minicart__item-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    background: #FFF;
    cursor: pointer;
}
.minicart .minicart__item-minus:active,
.minicart .minicart__item-plus:active {
    box-shadow: 1px 3px 7px #767676 inset;
}
.minicart .minicart__item-count {
    width: 32px;
    background: transparent;
    border: none;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.minicart .minicart__item-price {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.minicart .minicart__item-message {
    display: none;
    margin-top: 10px;
    color: #E41616;
    font-size: 14px;
    line-height: 150%;
}
.minicart .minicart__item-message.error {
    display: block;
}
.minicart .minicart__notes-box {
    padding: 16px 24px;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}
.minicart .minicart__notes-btn {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: start;
    color: #000;
    border: none;
    background: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.minicart .ninicart__notes-plus {
    position: relative;
    display: block;
    width: 8px;
    height: 1px;
    margin-right: 10px;
    border-radius: 2px;
    background: #000;
}
.minicart .ninicart__notes-plus::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    transform: rotate(90deg);
    transition: transform 0.3s;
}
.minicart .ninicart__notes-plus.active::before {
    transform: rotate(0);
}
.minicart .minicart__notes-body {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}
.minicart .minicart__notes-input-box {
    padding: 16px 5px 5px 5px;
}
.minicart .minicart__notes-input {
    display: block;
    width: 100%;
    height: 120px;
    padding: 16px 24px;
    border-radius: 32px;
    border: 1px solid #CDCDCD;
    resize: vertical;
}
.minicart .minicart__bottom {
    padding: 24px;
}
.minicart .minicart__bottom-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}
.minicart .minicart__bottom-price-value,
.minicart .minicart__bottom-price-label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.minicart .minicart__bottom-price-value {
    font-size: 22px;
}
.minicart .minicart__bottom-label {
    color: #535353;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.667%;
    margin-bottom: 16px;
}
.minicart .minicart__bottom-btn {
    display: block;
    width: 100%;
    background: #000;
    text-align: center;
    padding: 16px 32px;
    border: 1px solid #000;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 137.5%;
    text-decoration: none;
    border-radius: 32px;
    transition: all 0.3s;
}
.minicart .minicart__bottom-btn:hover {
    background: #fff;
    color: #000;
}