* {
    box-sizing: border-box;
    letter-spacing: normal;
}
.minicart-btn {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    margin: 0 10px;
}
.minicart-btn .minicart-btn-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.minicart.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    overflow: hidden;
    z-index: 10;
    transition: all 0.3s;
}
.minicart.shadow.active {
    opacity: 1;
    overflow: visible;
}
.minicart .minicart__content {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: inline-block;
    background-color: #fff;
}