* {
    box-sizing: border-box;
    letter-spacing: normal;
}
button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}
body.look {
    overflow-y: hidden;
}
.predictive-search1__btn {
    display: block;
    margin: 0 10px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.predictive-search1__btn:hover {
    transform: scale(1.07);
}
.predictive-search1__btn-icon {
    display: block;
    width: 24px;
    height: 24px;
}
.predictive-search1 {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    overflow-y: auto;
    transition: all 0.3s;
}
.predictive-search1.active-search {
    opacity: 1;
    visibility: visible;
}
.predictive-search1 .predictive-search1__content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 292px;
    max-height: 100%;
    width: 100%;
    max-width: 480px;
    border-radius: 16px;
    margin: 0 0 auto auto;
    background: #fff;
    overflow-y: hidden;
    transform: translateX(110%);
    transition: all 0.3s;
}
.predictive-search1 .predictive-search1__content.active-search {
    transform: translateX(0%);
}
.predictive-search1 .predictive-search1__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
    border-bottom: 1px solid #E9E9E9;
}
.predictive-search1 .predictive-search1__header-title {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.182%;
    color: #000;
}
.predictive-search1 .predictive-search1__btn-icon {
    width: 24px;
    height: 24px;
}
.predictive-search1 .predictive-search1__box-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    overflow-y: auto;
}
.predictive-search1 .predictive-search1__form-inner {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.predictive-search1 .predictive-search1__form {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #000;
}
.predictive-search1 .predictive-search1__box-results {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.predictive-search1 .predictive-search1__results-preloader {
    display: none;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.predictive-search1 .predictive-search1__results-preloader.preloader-active {
    display: block;
}
.predictive-search1 .predictive-search1__results-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.predictive-search1 .predictive-search1__results-inner {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 64px;
}
.predictive-search1 .predictive-search1__form-input {
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    outline: none;
}
.predictive-search1 .predictive-search1__form-input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url("./X.svg");
}
.predictive-search1 .predictive-search1__form-input:focus-visible {
    box-shadow: none;
}
.predictive-search1 .predictive-search1__form-submit {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
 }
.predictive-search1 .predictive-search1__form-submit-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.predictive-search1 .predictive-search1__results-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px 48px;
    flex-wrap: wrap;
    margin: 24px 0 8px 0;
}
.predictive-search1 .predictive-search1__results-header-btn {
    display: inline-block;
    padding: 7px 0;
    color: #9D9D9D;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 137.5%;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}
.predictive-search1 .predictive-search1__results-header-btn:hover {
    color: #000;
}
.predictive-search1 .predictive-search1__results-header-btn.tab-active{
    color: #000;
    border-color: #000;
}
.predictive-search1 .predictive-search1__results-header-btn.no-result {
    opacity: 0.5;
}
.predictive-search1 .predictive-search1__results-body {
    display: none;
    flex-direction: column;
    overflow-y: auto;
}
.predictive-search1__results-body.results-body-products .predictive-search1__results-item {
    align-items: flex-start;
}
.predictive-search1__results-body.results-body-products .predictive-search1__results-description {
    margin-top: 6px;
}
.predictive-search1 .predictive-search1__results-body.tab-active {
    display: flex;
}
.predictive-search1__results-body.results-body-pages .predictive-search1__description-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-bottom: 1px solid #E9E9E9;
}
.predictive-search1__results-body.results-body-pages .predictive-search1__description-title:first-child {
    border-top: 1px solid #E9E9E9;
}
.predictive-search1__results-body.results-body-pages .predictive-search1__description-title:hover .predictive-search1__description-title-icon {
    transform: translateX(-10px);
}
.predictive-search1__results-body.results-body-pages .predictive-search1__description-title-icon {
    transition: transform 0.3s;
}
.predictive-search1 .predictive-search1__results-list {
    list-style: none;
    padding: 0;
}
.predictive-search1 .predictive-search1__results-item {
    display: flex;
    align-items: center;
}
.predictive-search1 .predictive-search1__results-item:not(:last-child) {
    margin-bottom: 24px;
}
.predictive-search1 .predictive-search1__results-box-image {
    position: relative;
    min-width: 120px;
    width: 120px;
    margin-right: 16px;
    border-radius: 16px;
    overflow: hidden;
}
.predictive-search1__results-body.results-body-articles .predictive-search1__results-box-image {
    border-radius: 8px;
}
.predictive-search1 .predictive-search1__results-link {
    display: block;
    height: 0;
    padding-bottom: 100%;
}
.predictive-search1 .predictive-search1__results-link:hover .predictive-search1__results-image {
    transform: scale(1.05);
}
.predictive-search1 .predictive-search1__results-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.predictive-search1 .predictive-search1__description-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
    margin-bottom: 16px;
}
.predictive-search1 .predictive-search1__info-item {
    display: flex;
    align-items: center;
    position: relative;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 116.667%;
}
.predictive-search1 .predictive-search1__info-item:not(:first-child)::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    margin: 0 8px;
    background: #000;
    border-radius: 50%;
}
.predictive-search1 .predictive-search1__description-title {
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
}
.predictive-search1 .predictive-search1__description-title:hover {
    text-decoration: underline;
}
.predictive-search1 .predictive-search1__results-box-prices {
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.predictive-search1 .predictive-search1__results-box-price,
.predictive-search1 .predictive-search1__results-price-old {
    font-style: normal;
    font-weight: 500;
    line-height: 137.5%;
}
.predictive-search1 .predictive-search1__results-price {
    color: #000;
}
.predictive-search1 .predictive-search1__results-price.new {
    color: #E41616;
}
.predictive-search1 .predictive-search1__results-price-old {
    margin-left: 8px;
    color: #9D9D9D;
    text-decoration: line-through;
}
.predictive-search1 .predictive-search1__results-footer {
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: calc(100% - 48px);
    padding-top: 16px;
    transform: translateX(-50%);
}
.predictive-search1 .predictive-search1__results-footer-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 16px 32px;
    border-radius: 32px;
    border: 2px solid #000;
    background: #000;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    line-height: 137.5%;
    transition: all 0.3s;
}
.predictive-search1 .predictive-search1__results-footer-link:hover {
    color: #000;
    background: #fff;
}

@media screen and (max-width: 400px) {
    .predictive-search1 .predictive-search1__results-item {
        flex-direction: column;
    }
    .predictive-search1 .predictive-search1__results-box-image {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .predictive-search1__results-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}