* {
    box-sizing: border-box;
    letter-spacing: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
body.look {
    overflow: hidden;
}
.quick-view__spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.quick-view__spinner .spinner {

}
.quick-view.shadow {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    z-index: 5;
    transition: all 0.3s;
}
.quick-view.shadow.active-popup {
    opacity: 1;
    visibility: visible;
}
.quick-view .quick-view__content {
    max-width: 1040px;
    width: 100%;
    margin: auto;
    border-radius: 16px;
    padding: 16px;
    background: #fff;
    transform: scale(0);
    transition: transform 0.3s;
}
.quick-view .quick-view__content.active-popup {
    transform: scale(1);
}
.quick-view .quick-view__top {
    text-align: right;
    margin-bottom: 16px;
}
.quick-view .quick-view__top-close {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
.quick-view .quick-view__inner {
    display: flex;
    justify-content: center;
}
.quick-view .quick-view__slider-box {
    width: 50%;
}
.quick-view .quick-view__swiper {
    margin-bottom: 16px;
}
.quick-view .quick-view__swiper-slide {
    position: relative;
    padding-bottom: 100%;
    border-radius: 16px;
    overflow: hidden;
}
.quick-view .quick-view__slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quick-view .quick-view__mini-swiper-slide {
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border 0.4s;
}
.quick-view .quick-view__mini-swiper-slide.swiper-slide-thumb-active {
    border-color: #000;
}
.quick-view .quick-view__mini-swiper-slide-wrap {
    position: relative;
    padding-bottom: 100%;
}
.quick-view .quick-view__mini-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quick-view .swiper-button-next,
.quick-view .swiper-button-prev {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    background: #fff;
}
.quick-view .swiper-button-next:after,
.quick-view .swiper-button-prev:after {
    display: none;
}
.quick-view .quick-view__info-box {
    width: 50%;
    padding: 24px 32px;
}
.quick-view .quick-view__info-title {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 121.429%;
    margin: 0 0 16px 0;
}
.quick-view .quick-view__info-price-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
}
.quick-view .quick-view__info-price {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.quick-view .quick-view__info-price.new {
    color: red;
}
.quick-view .quick-view__info-price.old {
    color: silver;
    text-decoration: line-through;
}
.quick-view .quick-view__info-variant-inner {
    margin-bottom: 32px;
}
.quick-view .quick-view__info-variant-name {
    margin: 0 0 12px 0;
    color: #535353;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.quick-view .quick-view__info-variant-wrap {
   display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
.quick-view .quick-view__info-variant-input {
    display: none;
}
.quick-view .quick-view__info-variant-input:checked ~ .quick-view__info-variant-label {
    border-color: #000;
    color: #000;
}
.quick-view .quick-view__info-variant-label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: 1px solid #E9E9E9;
    border-radius: 16px;
    padding: 16px;
    color: #535353;
    cursor: pointer;
    transition: border 0.3s;
}
.quick-view .quick-view__info-variant-label.disabled {
    text-decoration: line-through;
    color: #aaaaaa;
    border-color: #aaaaaa;
}
.quick-view .quick-view__item-count-box {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 68px;
    background-color: #F6F6F6;
    margin-bottom: 32px;
}
.quick-view .quick-view__item-minus,
.quick-view .quick-view__item-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    background: #FFF;
    cursor: pointer;
}
.quick-view .quick-view__item-minus:active,
.quick-view .quick-view__item-plus:active {
    box-shadow: 1px 3px 7px #767676 inset;
}
.quick-view .quick-view__item-minus.disabled {
    opacity: .35;
    pointer-events: none
}
.quick-view .quick-view__item-count {
    width: 32px;
    background: transparent;
    border: none;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.quick-view .quick-view__bottom-box {
    text-align: center;
}
.quick-view .quick-view__bottom-btn {
    display: block;
    width: 100%;
    border-radius: 32px;
    background: #000;
    border: 1px solid #000;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 137.5%;
    padding: 16px 32px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 0.3s;
}
.quick-view .quick-view__bottom-btn:hover {
    background: #fff;
    color: #000;
}
.quick-view .quick-view__bottom-btn.not-available {
    opacity: 0.7;
    pointer-events: none;
}
.quick-view .quick-view__bottom-link-product {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.quick-view .quick-view__bottom-link-label {
    position: relative;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.quick-view .quick-view__bottom-link-label::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    transition: background 0.3s;
}
.quick-view .quick-view__bottom-link-label:hover::before {
    background: transparent;
}

.quick-view .quick-view__bottom-link-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

@media screen and (max-width: 991.98px) {
    .quick-view .quick-view__content {
        padding: 16px 24px;
    }
    .quick-view .quick-view__inner {
        flex-direction: column;
    }
    .quick-view .quick-view__slider-box {
        width: 70%;
        margin: 0 auto;
    }
    .quick-view .quick-view__info-box {
        width: 100%;
        padding: 0;
    }
    .quick-view .quick-view__mini-swiper {
        display: none;
    }
    .quick-view .swiper-button-next,
    .quick-view .swiper-button-prev {
        display: none;
    }
    .quick-view .quick-view__info-title {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .quick-view .quick-view__info-price-box {
        margin-bottom: 16px;
    }
    .quick-view .quick-view__info-variant-label {
        font-size: 14px;
        padding: 12px;
    }
}

@media screen and (max-width: 767.98px) {
    .quick-view .quick-view__slider-box {
        width: 100%;
    }
}